.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CE, #e0f6ff);
    
  }
  

.startMessage   {width: 1000px;
bottom: 250px;
right: -100px;
position: absolute; }


  .mage {
    width: 300px;
    bottom: -10px;
    right: -100px;
    position: absolute;
    
  }
  
  .mage_of_sorteio {
    width: 120px;
    bottom: -10px;
    right: 1000px;
    position: absolute;
   
  }
  
  #numero {
    width: 150px;
    bottom: 200px;
    right: 900px;
    position: absolute;
  }
  

  #audio {
    height: 50px;
    width: 150px;
    bottom: 450px;
    right: 1360px;
    position: absolute;
  }

  #botao {
    width: 200px;
    bottom: 200px;
    right: 700px;
    position: absolute;
  }
  
  .my-text {
    text-align: center;
    line-height: 1.5;
    padding: 20px;
    border: 2px solid #333;
    width: 300px;
    margin: 0 auto;
  }
  
  .explosion {
    position: absolute;
    bottom: -300px;
    width: 600px;
    opacity: 0; 
    right: -250px;
  }
  
  .magic_animation {
    animation: magic_animation 4s forwards;
  }

  .damage {
    animation: damage 4s forwards;
  }
  
  @keyframes magic_animation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes damage {
    from {
      width: 300px;
      bottom: -10px;
      right: -100px;
      position: absolute;
      opacity: 1;
    }
    to {
      width: 300px;
      bottom: -10px;
      right: -80px;
      position: absolute;
      opacity: 0;
      display: none; 
    }
  }
  
  .slash-animation {
    animation-name: slash-animation;
    animation-duration: 1.5s;
  }
  
  @keyframes slash-animation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .coin-animation {
    animation-name: coin_animation;
    animation-duration: 1s; 
    animation-timing-function: ease-in-out; 
  }
  
  .coin {
    position: absolute;
    bottom: -20px;
    width: 100px;
    right: 960px;
    opacity: 0;
  }
  
  @keyframes coin_animation {
    0% {
      right: 960px;
      opacity: 1;
    }
    40% {
      bottom: 150px;
    }
    50% {
      bottom: 150px;
    }
    60% {
      bottom: 140px;
    }
    70% {
      bottom: 130px;
    }
    80% {
      bottom: 100px;
    }
    90% {
      bottom: 70px;
    }
    100% {
      right: 0;
      bottom: 50px;
    }
  }
  

  .slash {
    position: absolute;
    bottom: -100px;
    width: 400px;
    opacity: 0; 
    right: -250px;
  }

.move_animation
{ 
  animation-name: move_animation;
    animation-duration: 0.5s;
}

  @keyframes move_animation {
    0% {
      width: 300px;
      bottom: -10px;
      right: -100px;
      position: absolute;
      
    }
    50% {
      width: 300px;
      bottom: -10px;
      right: -60px;
      position: absolute;
      
    }
    100% {
      width: 300px;
    bottom: -10px;
    right: -100px;
    position: absolute;
      
    }
  }


  .move_animation2
{ 
  animation-name: move_animation2;
    animation-duration: 0.5s;
}

  @keyframes move_animation2 {
    0% {
      width: 120px;
      bottom: -10px;
      right: 1000px;
      position: absolute;
      
    }
    50% {
      width: 120px;
      bottom: -10px;
      right: 940px;
      position: absolute;
      
    }
    100% {
      width: 120px;
      bottom: -10px;
      right: 1000px;
      position: absolute;
      
    }
  }